.container {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 12px;
    color: black;
    width: 380px;
    opacity: 0.9;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}