.container {
    background-color: #fefefeee;
    padding: 30px;
    border-radius: 12px;
    color: black;
    width: 380px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.caption:hover {
    text-decoration: underline;
    cursor: pointer;
}